/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  max-width: 900px;
  margin: 0 auto !important;
}

.testclass {
  font-style: italic;
  font-size: 2rem;
}
.bored {
  width: 100%;
  height: 800px;
  body {
    overflow: hidden;
    :hover {overflow: hidden;}
  }
  }

.header {
  display: flex;
  justify-content: space-between;
}
.locales {
  position: relative;
  top: -30px;
}

@media only screen and (max-width: 800px) {

  .header {
    font-size: 6vw;

    .testclass {
      font-size: 6vw;
    }
    .locale-selector{
      font-size: 4vw;
    }

  }
}