/* line 1, ../sass/rouge-base16-solarized.scss */
.highlight table td {
  padding: 5px;
}

/* line 2, ../sass/rouge-base16-solarized.scss */
.highlight table pre {
  margin: 0;
}

/* line 3, ../sass/rouge-base16-solarized.scss */
.highlight, .highlight .w {
  color: #586e75;
}

/* line 6, ../sass/rouge-base16-solarized.scss */
.highlight .err {
  color: #002b36;
  background-color: #dc322f;
}

/* line 10, ../sass/rouge-base16-solarized.scss */
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #657b83;
}

/* line 13, ../sass/rouge-base16-solarized.scss */
.highlight .cp {
  color: #b58900;
}

/* line 16, ../sass/rouge-base16-solarized.scss */
.highlight .nt {
  color: #b58900;
}

/* line 19, ../sass/rouge-base16-solarized.scss */
.highlight .o, .highlight .ow {
  color: #93a1a1;
}

/* line 22, ../sass/rouge-base16-solarized.scss */
.highlight .p, .highlight .pi {
  color: #93a1a1;
}

/* line 25, ../sass/rouge-base16-solarized.scss */
.highlight .gi {
  color: #859900;
}

/* line 28, ../sass/rouge-base16-solarized.scss */
.highlight .gd {
  color: #dc322f;
}

/* line 31, ../sass/rouge-base16-solarized.scss */
.highlight .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}

/* line 36, ../sass/rouge-base16-solarized.scss */
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #6c71c4;
}

/* line 39, ../sass/rouge-base16-solarized.scss */
.highlight .kc {
  color: #cb4b16;
}

/* line 42, ../sass/rouge-base16-solarized.scss */
.highlight .kt {
  color: #cb4b16;
}

/* line 45, ../sass/rouge-base16-solarized.scss */
.highlight .kd {
  color: #cb4b16;
}

/* line 48, ../sass/rouge-base16-solarized.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #859900;
}

/* line 51, ../sass/rouge-base16-solarized.scss */
.highlight .sr {
  color: #2aa198;
}

/* line 54, ../sass/rouge-base16-solarized.scss */
.highlight .si {
  color: #d33682;
}

/* line 57, ../sass/rouge-base16-solarized.scss */
.highlight .se {
  color: #d33682;
}

/* line 60, ../sass/rouge-base16-solarized.scss */
.highlight .nn {
  color: #b58900;
}

/* line 63, ../sass/rouge-base16-solarized.scss */
.highlight .nc {
  color: #b58900;
}

/* line 66, ../sass/rouge-base16-solarized.scss */
.highlight .no {
  color: #b58900;
}

/* line 69, ../sass/rouge-base16-solarized.scss */
.highlight .na {
  color: #268bd2;
}

/* line 72, ../sass/rouge-base16-solarized.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #859900;
}

/* line 75, ../sass/rouge-base16-solarized.scss */
.highlight .ss {
  color: #859900;
}
